/*---------PRODUCT BOX
---------------------------------------*/

.product-box-dark {
  height: 100%;
  width: 100%;
  background-color: #333;
} 

.product-box-light {
  height: 100%;
  background-color: #f2f2f2;
} 

.product h1 {
  font-family: "Alegreya", serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 100;
  color: #808080;
}

.product h2 {
  font-family: "Alegreya", serif;
  font-style: normal;
  font-size: 24px;
  color: #808080;
}

.section-content h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Alegreya", serif;
  font-size: 80px;
  font-weight: 500;
  font-style: italic;
  font-variant: small-caps;
  color: #C1272D;
}

#product-section {
  background: url(../imgs/guitars/acousticbg.png) no-repeat;
  background-position: center right;
  background-size: auto 200%;
}

.acoustic-img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}


.img-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0px 0px 25px;

}

.img-big {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0px 0px 25px;
  overflow: hidden;

}

.img-small {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0px 0px 25px;
  overflow: hidden;
}


.detail01 {
  width: 100%;
}

.detail02 {
  width: 100%;
}

.demo-vid {
 -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0px 0px 50px;
  margin-right: 0px;
}

.owl-carousel {
  background: red;
  margin-top: 0px;
  width: 100%;
  height: auto;
} 


