#socmed-feed {
  background-color: #333;
}

#disc-local header {
  width: 90%;
  margin: auto;
}

#socmed-feed .ig-post {
  margin-top: -3px;
}

#socmed-feed .ig-post img {
  width: 100%;
  height: auto;
}