@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900);

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro/intro-webfont.eot');
    src: url('../fonts/Intro/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro/intro-webfont.woff') format('woff'),
         url('../fonts/Intro/intro-webfont.ttf') format('truetype'),
         url('../fonts/Intro/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*---------------------------------------
  GLOBAL CSS
---------------------------------------*/

body {
  background-color: #333;
}


/** {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/


.container {
  margin: auto;
}

.section-container {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-container:after {
  content: "";
  display: table;
  clear: both;
}


/* GRID PERCENTAGES------------------------------*/
.seventyFive { width: 75%; }
.fifty { width: 50%; }
.three { width: 33.333333%; }
.four { width: 25%; }
.full { width: 100%; }


/* Float Left/Right------------------------------*/
.left { float: left; }
.right { float: right; }


/* Text-alignment--------------------------------*/
.tleft { text-align: left; }
.tright { text-align: right; }
.tcenter { text-align: center; }




/* CTA Buttons CSS-------------------------------*/
.button {
  padding: 13px;
  font-family: "Intro", sans-serif;
  font-size: 12px;
  outline: 0;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.2s;  
  transition-duration: 0.2s;
}

.button:hover {
  -webkit-transition-duration: 0.2s;  
  transition-duration: 0.2s;
}


/*CTA -- For Dark BG*/
.cta-dark {
  background-color: #333;
  border: 5px solid #C1272D;
  color: #fff;
}

.cta-dark:hover {
  background-color: #C1272D;
  border: 5px solid #C1272D;
}

/*CTA -- For Light BG*/
.cta-light {
  background-color: #f2f2f2;
  border: 5px solid #333;
  color: #C1272D;
}

.cta-light:hover {
  background-color: #C1272D;
  border: 5px solid #C1272D;
  color: #fff;
}


a {
  text-decoration: none;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #808080;
}


h1, h2,
h1 a, h2 a {
  font-family: 'Alegreya', serif;
  font-weight: 100;
  font-style: italic;
  color: #808080;
  margin: 0;
  line-height: 70px;
}

h3, h3 a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #808080;
  margin: 0;
}


h1 { font-size: 70px; }
h2 { font-size: 24px; }
h3 { font-size: 24px; }


h1 em, h2 em {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: italic;
  font-variant: small-caps;
  color: #C1272D;
}


h3 em {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  color: #C1272D;
  margin: 0;
}


h1 em { font-size: 80px; }
h2 em { font-size: 30px; }
h3 em { font-size: 25px; }


ul {
  list-style: none;
  padding: 0;
}


/*---------------------------------------
  HEADER
---------------------------------------*/

#header {
  position: fixed;
  top: 0;
  font-family: 'Open Sans Light', sans-serif;
  font-size: 25px;
  color: #808080;
  background-color: #333;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #444;
  z-index: 3;
}

.head-left {
  height: auto;
  margin-left: 5%;
} 

.head-right {
  height: auto;  
  margin-right: 5%;
}


/* Positions the elements vertically center */
.logo,
.navburger,
.head-left, .head-right,
.socmed-icons,
#header .cta-dark,
#header nav {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.logo {
  background: url(../imgs/brucelogo-red.svg) no-repeat;
  width: 150px;
  height: 70px;
  display: block;
}

.allproducts {
  background: url(../imgs/navburger.png) no-repeat;
  background-position: right top 3px;
  padding-right: 20px;
}

#header nav {
  font-family: "Intro", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

#header nav a {
  color: #808080;
  margin-left: 20px;
  padding-bottom: 5px;
}

#header nav a:hover {
  color: #fff;
  border-bottom: 5px solid #fff;
}

.socmed-icons,
.socmed-fb,
.socmed-twitter,
.socmed-insta {
  height: 20px;
}

.socmed-icons {
  width: 150px;
}

.socmed-fb {
  background: url(../imgs/socmed-icons/socmed-fb.png) no-repeat;
  background-position: center left;
  width: 11px;
  margin-right: 30px;
}

  .socmed-fb:hover {
    background-position: center right;
  }

.socmed-twitter {
  background: url(../imgs/socmed-icons/socmed-twit.png) no-repeat;
  background-position: center left;
  width: 25px;
  margin-right: 30px;
}

  .socmed-twitter:hover {
    background-position: center right;
  }

.socmed-insta {
  background: url(../imgs/socmed-icons/socmed-insta.png) no-repeat;
  background-position: center left;
  width: 20px;
  margin-right: 30px;
}

  .socmed-insta:hover {
    background-position: center right;
  }




/*---------------------------------------
  SECTION: INTRO
---------------------------------------*/



#intro-welcome {
  /*height: 100%;*/
  height: 100vh;
  margin: auto; 
}

#intro-welcome .section-container {
  /*padding-top: 200px;*/
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.intro-content {
  width: 100%;
  position: absolute;
  top: 20%;
}

.intro-logo {
  width: 300px;
  margin: auto;
}

.bigHeader {
  font-family: "Alegreya", serif;
  /*font-size: 80px;*/
  font-size: 7vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  max-width: 700px;
  margin: auto;
}

.section-menu {
  width: 100%;
  height: 35px;
  /*margin: 90px auto 0;*/
  position: absolute;
  bottom: 30px;
}

.links {
  width: 90%;
  margin: auto;
  text-align: center;
}

.cta-underlined {
  color: #fff;
  font-family: "Intro", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  -webkit-transition-duration: 0.2s;  
  transition-duration: 0.2s;
}

.cta-underlined:hover {
  background-color: #C1272D;
  border: 5px solid #C1272D;
  color: #fff;
  -webkit-transition-duration: 0.2s;  
  transition-duration: 0.2s;
}


/* Header Video CSS */
video {
  opacity: 1;
  transition: opacity 0.5s;
}

video.fillWidth {
  margin-top: 75px;
  width: auto;
  position: absolute;
}

.video-container {
  position:absolute;
  z-index: -1;
  top:0%;
  left:0%;
  height: 100vh;
  width:100%;
  overflow: hidden;
}

.bg-container {
  background-image: url('../imgs/static-bg.jpg');
  background-size: cover;
  position:absolute;
  z-index: -1;
  top:0%;
  left:0%;
  height: 100%;
  width:100%;
  overflow: hidden;
}

@media screen and (max-aspect-ratio: 17/10), screen and (max-width: 480px) {
  .video-container{ 
    visibility: hidden;
  }
}

#staticBG {

}

.hide {
  opacity: 0;
}


/*---------------------------------------
  SECTION: WHO IS BRUCE
---------------------------------------*/

#who-bruce {
  height: 100%;
  background-color: #f2f2f2;
}

.section-content p {
  margin: 50px auto;
}

/*.left-side {
  width: 50%;
  float: left
}

.right-side {
  width: 50%;
  float: left
}*/




/*---------------------------------------
  SECTION: DISCOVER LOCAL SOUND
---------------------------------------*/

#disc-local {
  background-color: #333;
  border-bottom: 1px solid #444;
}

#disc-local header {
  width: 90%;
  margin: auto;
}

#disc-local img {
  display: block;
  margin: auto;
  -webkit-transition-duration: 0.2s;  
  transition-duration: 0.2s;
}

/*Tansition on over*/
#disc-local img:hover {
  transform: matrix(0.99756, -0.06975, 0.06975, 0.99756, 0, 0);
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
}

.owl-carousel {
  margin: 50px auto;
}

#disc-local .section-content {
  width: 50%;
  margin: auto;
  text-align: center;
}

.product-name {
  position: absolute;
  top: 60%;
  width:100%;
  color: white;
  background: black;
  padding: 5px;
  opacity: 0.7;
  z-index: 1;
  text-align: center;
  display: none;
  pointer-events:none;
  padding: 50px 0px;
  font-family: "Intro", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

/*---------------------------------------
  SECTION: INSTAGRAM FEED
---------------------------------------*/
.hashtag-title {
  padding-bottom: 30px;
}


/*---------------------------------------
  SECTION: FOOTER
---------------------------------------*/

footer {
  background-color: #333;
  border-top: 1px solid #444;
}

footer .section-container {
  padding: 10px 0;
}

footer .map,
footer .copyright-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 40px 0px 0px;
}

footer .contact-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 40px;
}

footer .map img {
  width: 100%;
  height: auto;
}

.copyright-content p {
  font-size: 15px;
  /*width: 51%;*/
  margin-left: 45px;
}

footer a {
  color: #808080;
}

.copyright-content a {
  color: #808080;
  font-weight: 700;
}

a:hover {
  color: #fff;
}

/*footer ul li*/
footer .contact-info p {
  color: #808080;
  padding: 5px 0 30px 50px;
}

.contact-phone {
  background: url(../imgs/contact-icons/contact-phone.png) no-repeat;
}

.contact-email {
  background: url(../imgs/contact-icons/contact-email.png) no-repeat;
}

.contact-loc {
  background: url(../imgs/contact-icons/contact-loc.png) no-repeat;
}






/*---------------------------------------
  FORM CSS
---------------------------------------*/


/* Footer Form CSS--------------------------*/
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 100%;  
  margin: 0; 
  padding: 0; 
  border: 0;
  border: 0px solid #ccc;
}

.inputContainer {
  background: #fff;
  padding: 10px;
  border: 1px solid #a9a9a9;
  margin: 20px auto;
}

.textarea {
  margin-bottom: 35px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}